In [80]:
import pandas as pd

In [81]:

# read csv
mbti_movie = pd.read_csv('./mbti_movie.csv')
mbti_100 = pd.read_csv('./mbti_100.csv')

In [82]:
mbti_100['name'] = mbti_100['name'].str.replace("'", "''")
mbti_100['name'] = mbti_100['name'].str.replace("’", "''")
mbti_100['name'] = mbti_100['name'].str.replace("“", '"')
mbti_100['name'] = mbti_100['name'].str.replace("”", '"')
mbti_100['personality'] = mbti_100['personality'].str.upper()
mbti_100['description'] = mbti_100['name'].apply(lambda x: x[x.find("(")+1:x.find(")")].strip() if "(" in x else "")
mbti_100['name'] = mbti_100['name'].apply(lambda x: x[:x.find("(")].strip() if "(" in x else x.strip())
mbti_100

,name,personality,total votes,first letter votes percentage,second letter votes percentage,third letter votes percentage,fourth letter votes percentage,first function,second function,third function,...,Big5_total_votes,Attitudinal_Psyche_total_votes,Temperaments_total_votes,Instinctual_Variant_type_votes,Tritype_type_votes,Socionics_type_votes,Big5_type_votes,Attitudinal_Psyche_type_votes,Temperaments_type_votes,description
0,Kim Kardashian,ISTJ,1289,80%,97%,44%,86%,Si,Te,Fi,...,38,16,64,50,44,25,22,8,35,
1,Sigmund Freud,ISTJ,1128,95%,58%,90%,88%,Si,Te,Fi,...,41,39,68,59,38,52,35,25,54,
2,Irene,ISTJ,964,97%,79%,90%,98%,Si,Te,Fi,...,75,22,104,91,53,29,41,13,90,Red Velvet
3,Tzuyu,ISTJ,910,99%,97%,71%,54%,Si,Te,Fi,...,63,17,121,90,51,33,40,10,112,TWICE
4,Moriah Rose Pereira,ISTJ,857,99%,59%,80%,77%,Si,Te,Fi,...,28,14,64,56,40,23,23,8,45,Poppy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1434,Lucas Hauchard,ENFP,254,64%,93%,95%,59%,Ne,Fi,Te,...,12,7,31,12,8,7,8,4,21,Squeezie
1435,Hanni,ENFP,340,89%,98%,59%,98%,Ne,Fi,Te,...,12,6,12,6,9,5,6,4,10,NewJeans
1436,Taika Waititi,ENFP,261,98%,97%,75%,100%,Ne,Fi,Te,...,9,1,13,12,17,7,5,1,11,
1437,Victor Hugo,ENFP,209,92%,96%,99%,64%,Ne,Fi,Te,...,10,10,18,13,14,19,4,5,7,
1438,Nakamura Kazuha,ENFP,202,60%,89%,96%,71%,Ne,Fi,Te,...,28,12,27,15,10,10,13,11,17,LE SSERAFIM

In [83]:
mbti_movie['role'] = mbti_movie['role'].str.replace("'", "''")
mbti_movie['movie'] = mbti_movie['movie'].str.replace("'", "''")
mbti_movie['movie'] = mbti_movie['movie'].str.strip()
mbti_movie

,stat,mbti,enneagram,role,movie,img_url
0,697 / 162,ESFP,7w6,"Peter Quill ""Star-Lord""",Marvel Cinematic Universe,https://www.personality-database.com/profile_i...
1,668 / 231,ESFP,8w7,Anakin Skywalker,Star Wars,https://www.personality-database.com/profile_i...
2,589 / 243,ESFP,6w7,Ron Weasley,Harry Potter (franchise),https://www.personality-database.com/profile_i...
3,312 / 101,ESFP,7w8,Bellatrix Lestrange,Harry Potter (franchise),https://www.personality-database.com/profile_i...
4,302 / 105,ESFP,7w6,Simba,The Lion King (1994),https://www.personality-database.com/profile_i...
...,...,...,...,...,...,...
18736,NaN,INTJ,5w4,Dr. Caroline Caldwell,The Girl with All the Gifts (2016),https://www.personality-database.com/images/pr...
18737,NaN,INTJ,5w6,Richard,Eat Pray Love,https://www.personality-database.com/images/pr...
18738,NaN,XXXX,NaN,Alfi,Dignitate (2020),https://www.personality-database.com/images/pr...
18739,NaN,INTJ,1w9,Klimek ''The General'',The Informer,https://www.personality-database.com/images/pr...
18740,NaN,INTJ,NaN,Lily Walker,Revolver (2005),https://www.personality-database.com/images/pr...

In [84]:
mbti_100_people = [(row['name'], row['personality']) for _, row in mbti_100[['name', 'personality']].iterrows()]
mbti_100_people[:10]

[('Kim Kardashian', 'ISTJ'),
 ('Sigmund Freud', 'ISTJ'),
 ('Irene', 'ISTJ'),
 ('Tzuyu', 'ISTJ'),
 ('Moriah Rose Pereira', 'ISTJ'),
 ('Queen Elizabeth II', 'ISTJ'),
 ('Jeff Bezos', 'ISTJ'),
 ('Jade Picon', 'ISTJ'),
 ('Vitor Santos', 'ISTJ'),
 ('Natalie Portman', 'ISTJ')]

In [85]:
mbti_movie_people = [(row['role'], row['mbti']) for _, row in mbti_movie[['role', 'mbti']].iterrows()]
mbti_movie_people[:10]

[('Peter Quill "Star-Lord"', 'ESFP'),
 ('Anakin Skywalker', 'ESFP'),
 ('Ron Weasley', 'ESFP'),
 ('Bellatrix Lestrange', 'ESFP'),
 ('Simba', 'ESFP'),
 ('Donkey', 'ESFP'),
 ('Bob Parr "Mr. Incredible"', 'ESFP'),
 ('Jack Dawson', 'ESFP'),
 ('Aladdin', 'ESFP'),
 ('Marty McFly', 'ESFP')]

In [86]:
# join 2 tuples
# in case of duplicates, use mbti_movie_people
name2mbti = dict(mbti_movie_people)
for name, mbti in mbti_100_people:
    if name not in name2mbti:
        name2mbti[name] = mbti
    
for i, (name, mbti) in enumerate(name2mbti.items()):
    if i == 10:
        break
    print([name, mbti])

['Peter Quill "Star-Lord"', 'ESFP']
['Anakin Skywalker', 'ESFP']
['Ron Weasley', 'ESFP']
['Bellatrix Lestrange', 'ESFP']
['Simba', 'ESFP']
['Donkey', 'ESFP']
['Bob Parr "Mr. Incredible"', 'ESFP']
['Jack Dawson', 'ESFP']
['Aladdin', 'ESTP']
['Marty McFly', 'ESFP']

In [87]:
# person table
output_file = open('./person_table.txt', 'w')
output_file.write('DROP TABLE IF EXISTS person;')
output_file.write('CREATE TABLE person(name VARCHAR(512) PRIMARY KEY,code VARCHAR(4));')

for name, mbti in name2mbti.items():
    print(f'INSERT IGNORE INTO person (name, code) VALUES (\'{name}\', \'{mbti}\');', file=output_file)

In [88]:
# mbti_movie table
output_file = open('./mbti_movie_table.txt', 'w')
output_file.write('DROP TABLE IF EXISTS mbti_movie;')
output_file.write('CREATE TABLE mbti_movie(name	VARCHAR(512) PRIMARY KEY,movie VARCHAR(512));')

for name, movie in mbti_movie[['role', 'movie']].values:
    print(f'INSERT IGNORE INTO mbti_movie (name, movie) VALUES (\'{name}\', \'{movie}\');', file=output_file)

In [91]:
# mbti_100 table
output_file = open('./mbti_100_table.txt', 'w')
output_file.write('DROP TABLE IF EXISTS mbti_100;')
output_file.write('CREATE TABLE mbti_100 (name	VARCHAR(512) PRIMARY KEY, description VARCHAR(512), total_votes INT,first_letter_votes_percentage	VARCHAR(512),second_letter_votes_percentage	VARCHAR(512),third_letter_votes_percentage	VARCHAR(512),fourth_letter_votes_percentage	VARCHAR(512));')

for name, description, total_votes, first_letter_votes_percentage, second_letter_votes_percentage, third_letter_votes_percentage, fourth_letter_votes_percentage in mbti_100[['name', 'description', 'total votes', 'first letter votes percentage', 'second letter votes percentage', 'third letter votes percentage', 'fourth letter votes percentage']].values:
    print(f'INSERT IGNORE INTO mbti_100 (name, description, total_votes, first_letter_votes_percentage, second_letter_votes_percentage, third_letter_votes_percentage, fourth_letter_votes_percentage) VALUES (\'{name}\', \'{description}\', {total_votes}, \'{first_letter_votes_percentage}\', \'{second_letter_votes_percentage}\', \'{third_letter_votes_percentage}\', \'{fourth_letter_votes_percentage}\');', file=output_file)